*{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    user-select:none;
}
*::-webkit-scrollbar{
    display:none
}
button{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: bolder;
}
button:hover{
    background-color: #fff;
    color: #000;
    height:46px;
    font-size: 14px;
}
input::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
input::placeholder{
    color: #fff;
}
input{
    overflow-x: scroll;
}
p{
    margin:0px 6px;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #fff;
    border-left: none;
    font-weight: bolder;
}
button{
    margin:0px 6px;
    border: 1px solid #fff;
}
li{
    list-style-type: none;
}



.todolist-background{
    height:846px;
    width:1492px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/background.jpg');
    background-size: contain;
    /* filter: blur(12px); */
}
.todolist-container{
    height:820px;
    width:1470px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px;
    backdrop-filter: blur(14px);
}


.addtask-container{
    height:100px;
    width:1430px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
.username{
    height:40px;
    width:140px;
    box-sizing: border-box;
    border: none;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.input-taskheading{
    height:40px;
    width:260px;
    box-sizing: content-box;
    color: #fff;
    background-color: transparent;
    outline:none;
    padding:4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-width:1px ;
    text-align: center;
    margin: 0px 6px;
}
.input-taskdescription{
    height:40px;
    width:320px;
    box-sizing: content-box;
    color: #fff;
    background-color: transparent;
    outline:none;
    padding:4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-width:1px ;
    text-align: center;
    margin: 0px 6px;
}
.input-endtime{
    height:40px;
    width:180px;
    box-sizing: content-box;
    color: #fff;
    background-color: transparent;
    outline:none;
    padding:4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-width:1px ;
    text-align: center;
    margin: 0px 6px;
    color-scheme: #fff;
    cursor: pointer;
}
.button-addtask{
    height:40px;
    width:100px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}
.button-clearall{
    height:40px;
    width:100px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}




.task-container{
    height:600px;
    width:1430px;
    border-radius: 6px;
    overflow: scroll;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.each-task{
    height: 60px;
    width: 1412px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    margin: 20px 0px;
    border:1px solid #fff;
}
.p-sno{
    height:60px;
    width:80px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-taskheading{
    height:60px;
    width:180px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-taskdescription{
    height:60px;
    width:320px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-endtime{
    height:60px;
    width:180px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-remainingtime{
    height:60px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enddate{
    height:40px;
    width:180px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: transparent;
}
.button-edit{
    height:40px;
    width:100px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}
.button-done{
    height:40px;
    width:100px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}
.del-image{
    height:40px;
    width:40px;
    border-radius: 20px;
    cursor: pointer;
}



.username-main{
    height:820px;
    width:1470px;
    border:1px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}
.username-input{
    height: 50px;
    width:400px;
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.username-submit{
    height:40px;
    width:100px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    margin-left:50px;
}
.username-hidden{
    display: none;
}


.addtask-hidden{
    display: none;
}
.addtask-background{
    height:820px;
    width:1470px;
    border:1px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}


.report-hidden{
    display: none;
}
.report-background{
    height:820px;
    width:1470px;
    border:1px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}
.report-background p{
    border:none;
    font-size: 22px;
}
.report-main{
    height:300px;
    width:500px;
    padding:12px;
    box-sizing: border-box;
    text-align: center;
    border:1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-report{
    height:46px;
    width:180px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    left:1250px;
    margin-top:20px;
}
.button-report-close{
    height:46px;
    width:180px;
    box-sizing: border-box;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}